<div class="center hero-unit">
  <h1>Welcome to onekarma</h1>

  <h2>
  	Where will your stories go? 
    <a href="http://onekarma.org/">onekarma</a>
  </h2>
    <p>Emotionally connect to the audience
  	  <br>Exceed expectations - who record book
  	  <br>Element of surprise
  	  <br>Consequence - personal growth, ways fo bonding
  	  <br>Recollection - more they do, more they remember
  	</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large bt-primary" %>
</div>


<%= link_to image_tag("onekarmalogolg.png", alt: "onekarma logo"), 'httprubyonrails.org/' %>