<footer class="footer">
  <small>
    <a href="http://www.onekarma.org/">o n e k a r m a</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>